:root {
    /* LIGHT THEME  */

    /* Background */
    --color-bg-primary: var(--color-gray-0);
    --color-bg-secondary: var(--color-gray-50);
    --color-bg-tertiary: var(--color-gray-100);
    --color-bg-accent: var(--color-gray-200);
    --color-bg-muted: var(--color-gray-25);
    --color-bg-inverse: var(--color-gray-900);


    /* Text */
    --color-text-primary: var(--color-gray-900);
    --color-text-secondary: var(--color-gray-600);
    --color-text-tertiary: var(--color-gray-500);
    --color-text-quaternary: var(--color-gray-400);
    --color-text-placeholder: var(--color-gray-400);
    --color-text-inverse: var(--color-white);
    --color-text-disabled: var(--color-gray-400);
    --color-text-on-emphasis: var(--color-white);

    /* Border */
    --color-border: var(--color-gray-400);
    --color-border-muted: var(--color-gray-200);
    --color-border-strong: var(--color-gray-400);
    --color-border-inverse: var(--color-gray-700);

    /* Identidade Visual */
    --color-primary: var(--color-blue-600);
    --color-primary-hover: var(--color-blue-700);
    --color-primary-active: var(--color-blue-800);
    --color-primary-subtle: var(--color-blue-50);

    --color-secondary: var(--color-yellow-500);
    --color-secondary-hover: var(--color-yellow-600);
    --color-secondary-active: var(--color-yellow-700);
    --color-secondary-subtle: var(--color-yellow-50);

    --color-accent: var(--color-orange-500);
    --color-accent-hover: var(--color-orange-600);
    --color-accent-active: var(--color-orange-700);
    --color-accent-subtle: var(--color-orange-50);

    /* Feedback */
    --color-success: var(--color-green-500);
    --color-success-hover: var(--color-green-600);
    --color-success-subtle: var(--color-green-50);

    --color-error: var(--color-red-500);
    --color-error-hover: var(--color-red-600);
    --color-error-subtle: var(--color-red-50);

    --color-warning: var(--color-orange-500);
    --color-warning-hover: var(--color-orange-600);
    --color-warning-subtle: var(--color-orange-50);

    --color-info: var(--color-cyan-500);
    --color-info-hover: var(--color-cyan-600);
    --color-info-subtle: var(--color-cyan-50);

    /* Overlay */
    --color-overlay: rgba(0, 0, 0, 0.3);
    --color-overlay-light: rgba(0, 0, 0, 0.1);
    --color-overlay-dark: rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] {
    /* DARK THEME */

    /* Background */
    --color-bg: var(--color-gray-900);
    --color-bg-muted: var(--color-gray-800);
    --color-bg-inverse: var(--color-white);

    /* Text */
    --color-text-primary: var(--color-white);
    --color-text-secondary: var(--color-gray-300);
    --color-text-tertiary: var(--color-gray-400);
    --color-text-inverse: var(--color-black);
    --color-text-disabled: var(--color-gray-600);

    /* Border */
    --color-border: var(--color-gray-600);
    --color-border-muted: var(--color-gray-700);
    --color-border-strong: var(--color-gray-500);
    --color-border-inverse: var(--color-gray-300);

    /* Brand */
    --color-primary: var(--color-blue-400);
    --color-primary-hover: var(--color-blue-300);
    --color-primary-active: var(--color-blue-200);
    --color-primary-subtle: rgba(59, 130, 246, 0.2);

    --color-secondary: var(--color-yellow-400);
    --color-secondary-hover: var(--color-yellow-300);
    --color-secondary-active: var(--color-yellow-200);
    --color-secondary-subtle: rgba(234, 179, 8, 0.2);

    --color-accent: var(--color-orange-400);
    --color-accent-hover: var(--color-orange-300);
    --color-accent-active: var(--color-orange-200);
    --color-accent-subtle: rgba(249, 115, 22, 0.2);

    /* Feedback */
    --color-success: var(--color-green-400);
    --color-success-hover: var(--color-green-300);
    --color-success-subtle: rgba(34, 197, 94, 0.2);

    --color-error: var(--color-red-400);
    --color-error-hover: var(--color-red-300);
    --color-error-subtle: rgba(239, 68, 68, 0.2);

    --color-warning: var(--color-orange-400);
    --color-warning-hover: var(--color-orange-300);
    --color-warning-subtle: rgba(249, 115, 22, 0.2);

    --color-info: var(--color-cyan-400);
    --color-info-hover: var(--color-cyan-300);
    --color-info-subtle: rgba(6, 182, 212, 0.2);

    /* Overlay */
    --color-overlay: rgba(0, 0, 0, 0.5);
    --color-overlay-light: rgba(0, 0, 0, 0.3);
    --color-overlay-dark: rgba(0, 0, 0, 0.7);
}