:root {

    --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.75rem;
    --font-size-4xl: 1.875rem;
    --font-size-5xl: 2rem;
    --font-size-6xl: 2.25rem;
    --font-size-7xl: 2.5rem;
    --font-size-8xl: 3rem;
    --font-size-9xl: 3.75rem;
    --font-size-10xl: 4.5rem;

    --font-weight-thin: 100;
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;

    --line-none: 1;
    --line-xs: 1.125;
    --line-sm: 1.25;
    --line-md: 1.375;
    --line-lg: 1.5;
    --line-xl: 1.625;
    --line-2xl: 1.75;
    --line-3xl: 2;
}