.pageTitle {
    font-size: var(--font-size-5xl);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-sm);
    color: var(--text-heading);
}


.cardTitle {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-semibold);
    color: var(--text-heading-card);
}

.cardSectionTitle {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
    color: var(--text-card-section);
}

.label {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    color: var(--text-label-form);
}


.buttonText {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
}

.body {
    font-size: var(--font-size-md);
    line-height: var(--line-lg);
    color: var(--text-body);
}

.caption {
    font-size: var(--font-size-xs);
    color: var(--text-body-secondary);
}

.helper {
    font-size: var(--font-size-xs);
    color: var(--text-muted);
}

.note {
    font-size: var(--font-size-sm);
    font-style: italic;
    color: var(--text-body-secondary);
}